<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=name%></title>
    <link href="/public/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/group-info.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main class="group-info">
      <section class="group-info-title">
        <div class="group-info-title__name"><%=name%></div>
        <div>
          <span class="group-info-title__mmbr"><%=current%>/<%=maximum%></span>
          <button class="group-info-title__back-btn" type="button">
            뒤로가기
          </button>
        </div>
      </section>
      <section class="group-info-desc">
        <div class="group-tag">
          <span class="group-tag__cat-main"><%=main%></span>
          <span class="group-tag__cat-sub"><%=sub%></span>
          <span class="group-tag__loc"><%=location%></span>
          <span class="group-tag__gndr"><%=gender%></span>
        </div>
        <div class="group-info-desc__text"><%=description%></div>
      </section>
      <section class="group-info-qna">
        <div class="group-info-qna__mgr">
          <div class="group-info-qna__mgr-img-ctr">
            <!-- temp -->
            <img
              class="group-info-qna__mgr-img"
              src="/public/img/test-profile.png"
            />
          </div>
          <div>
            <div class="group-info-qna__mgr-name"><%=manager%> 님에게</div>
            <div class="group-info-qna__mgr-desc">
              스터디에 관한 질문을 남겨보세요!
            </div>
          </div>
        </div>
        <div class="group-info-qna__input">
          <textarea
            class="group-info-qna__text"
            placeholder="여기에 댓글을 입력하세요"
          ></textarea>
          <button class="group-info-qna__send-btn" type="button" value="">
            등록
          </button>
        </div>
        <div class="group-info-qna__list">질문 답변 댓글</div>
      </section>
      <section class="group-info-apply">
        <% if (isMember) { %>
        <button class="group-info-apply__btn" disabled>지원하기</button>
        <% } else { %>
        <button
          class="group-info-apply__btn"
          name="groupId"
          value="<%=groupId%>"
          type="button"
        >
          지원하기
        </button>
        <% } %>
      </section>
    </main>
    <script src="/public/js/group-info.js"></script>
  </body>
</html>
