<section class="group-list">
  <ul>
    <% data.forEach(function(group) { %>
    <li class="group-list__item">
      <a href=""><img class="group-list__img" src="<%= group.thumnail %>" /></a>
      <table class="group-list-table">
        <tr>
          <th colspan="2" class="group-list-table__name"><%= group.name %></th>
        </tr>
        <tr>
          <td class="group-list-table__location"><%= group.location %></td>
          <td class="group-list-table__number">
            모집중 <%= group.num_member %>/<%= group.max_num_member %>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="group-list-table__tag"><%= group.tag %></td>
        </tr>
      </table>
    </li>
    <% }); %>
  </ul>
</section>
