<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link href="/public/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/cat-filter.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <!-- header -->
    <%- include('includes/header'); %>
    <!-- main -->
    <main class="main">
      <section class="create-panel">
        <%- include('includes/index/create-panel'); %>
      </section>
      <section class="cat-filter">
        <%- include('includes/index/category-filter'); %>
      </section>
      <section class="search-form">
        <%- include('includes/index/search-form'); %>
      </section>
      <section class="search-list">
        <%- include('includes/index/search-list'); %>
      </section>
    </main>
    <!-- footer -->
    <%- include('includes/footer'); %>
    <script src="/public/js/category-filter.js"></script>
  </body>
</html>
