<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link href="/public/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/index.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <!-- header -->
    <%- include('includes/header'); %>
    <!-- main -->
    <main class="main">
      <div class="create-panel">
        <% if(!isLoggedIn) { %>
        <a href="/auth/sign-in" class="create-panel__btn--unauth">
          (ìƒˆë¡œìš´ ìŠ¤í„°ë”” ë§Œë“¤ê¸°)
        </a>
        <% } else { %>
        <!-- ë‚´ê°€ ê°€ìž…í•œ ìŠ¤í„°ë””ê°€ ìžˆìœ¼ë©´ nê°œ ë¶ˆëŸ¬ì™€ì„œ ì¶œë ¥ -->
        <!-- ê°€ìž…í•œ ìŠ¤í„°ë”” ì—†ìœ¼ë©´ ê·¸ëŒ€ë¡œ ìŠ¤í„°ë”” ìƒì„± ë²„íŠ¼ -->
        <a href="/create" class="create-panel__btn--auth">
          (ìƒˆë¡œìš´ ìŠ¤í„°ë”” ë§Œë“¤ê¸°)
        </a>
        <p class="create-panel__list">ë‚´ ìŠ¤í„°ë””1</p>
        <p class="create-panel__list">ë‚´ ìŠ¤í„°ë””2</p>
        <% } %>
      </div>
      <!-- classify-menu -->
      <section class="classify-menu">
        <div class="classify-menu__main">
          <% for (var i = 0;i < mainCategory.length;i++){ %>
          <div class="classify-menu__main--num" id="<%= i %>">
            <%= mainCategory[i] %>
          </div>
          <% } %>
        </div>
        <div class="classify-menu__sub">
          <% for (var i = 0;i < mainCategory.length;i++){ %>
          <div class="classify-menu__sub--num" id="<%= i %>">
            <%= middleCategory[2][i] %>
          </div>
          <% } %>
        </div>
      </section>
      <!-- search section -->
      <section class="search-form">
        <form action="/" method="post" class="search-form__form">
          <input
            class="search-form__input"
            type="text"
            name="studygroup-search"
            placeholder="ìŠ¤í„°ë”” ì´ë¦„ì„ ìž…ë ¥í•˜ì„¸ìš”"
          />
          <input class="search-form__btn" type="submit" value="ê²€ìƒ‰" />
        </form>
      </section>
      <div class="search-list">
        <%- include('includes/search-list', {data: data}); %>
      </div>
      <!-- ìž„ì‹œ ë¡œê·¸ì•„ì›ƒ ë²„íŠ¼ -->
      <a href="/auth/sign-out">ðŸ‘‰ë¡œê·¸ì•„ì›ƒ(ìž„ì‹œë²„íŠ¼)</a>
    </main>
    <!-- footer -->
    <%- include('includes/footer'); %>
  </body>
</html>
