<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/public/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/mypage.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- header -->
    <%- include('includes/header'); %>
    <!-- main -->
    <main class="main">
      <section class="myinfo">
        <%- include('includes/mypage/myinfo'); %>
      </section>
      <section class="join-group-list">
        <%- include('includes/mypage/join-group-list'); %>
      </section>
      <section class="lead-group-list">
        <%- include('includes/mypage/lead-group-list'); %>
      </section>
      <button class="group-list__load-btn">더 보기</button>
    </main>
    <!-- modals -->
    <%- include('includes/mypage/modal'); %>
    <!-- footer -->
    <%- include('includes/footer'); %>
    <script src="/public/js/mypage.js"></script>
  </body>
</html>
