<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.name %></title>
    <link href="/public/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/study-info.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main class="study-info">
      <header class="study-info__header">
        <div class="header-left">
          <span class="study-info__name"><%= data.name %></span>
          <span class="study-info__category">
            <%= data.category_large %>, <%= data.category_medium %>,
          </span>
          <span class="study-info__loc"><%=data.location %></span>
        </div>

        <div class="header-right">
          <span class="study-info__member">
            <%= data.num_member %> / <%= data.max_num_member %>
          </span>
          <button type="button" class="study-info__back-btn">뒤로가기</button>
        </div>
      </header>

      <section class="study-info__item">
        <img class="study-info__img" src="/study.jpg" />
        <div class="study-info__desc">스터디 소개 <%= data.description %></div>
      </section>

      <section class="study-info__qna">
        <img class="study-info__mgr-img" src="/profile.jpg" />
        <span class="study-info__mgr-name">스터디장</span>
      </section>

      <section class="study-info__chat">
        <button type="button" class="study-info__chat-btn">
          <img src="/public/img/chat.png" />
        </button>
        <div class="chat-popup" id="chatPopUp">
          <form action="/action_page" class="chat-popup__form">
            <label for="msg">채팅</label>
            <button type="button" class="chat-popup__cncl-btn">닫기</button>
            <div class="chat-popup__bubble">test</div>
            <div class="chat-popup__bottom">
              <textarea
                placeholder="스터디 리더에게 궁금한 점을 물어보세요!"
                name="msg"
                require
              ></textarea>
              <button type="submit" class="chat-popup__send-btn">전송</button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <script src="/public/js/study-info.js"></script>
  </body>
</html>
