<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.name %></title>
    <link href="/public/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/default.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/study-info.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main class="study-info">
      <!-- header -->
      <section class="study-info__title">
        <div>
          <div class="study-info__name"><%= data.name %></div>
          <span class="study-info__cat">
            <%= data.category_large %>, <%= data.category_medium %>,
          </span>
          <span class="study-info__loc"><%=data.location %></span>
        </div>
        <div>
          <span class="study-info__mmbr">
            <%= data.num_member %> / <%= data.max_num_member %>
          </span>
          <button type="button" class="study-info__back-btn">뒤로가기</button>
        </div>
      </section>
      <!-- info -->
      <section class="study-info__item">
        <img class="study-info__img" src="" />
        <img class="study-info__mgr-img" src="" />
        <div class="study-info__mgr-name">스터디장</div>
        <div class="study-info__text"><%= data.description %></div>
        <button class="study-info__apply-btn" type="button" value="">
          지원하기!
        </button>
      </section>
      <!-- qna -->
      <section class="study-info__qna">
        <div class="study-info__list"></div>
        <textarea class="study-info__input" placeholder="댓글 작성"></textarea>
        <button type="submit" class="study-info__input-btn" value="">
          전송
        </button>
      </section>
    </main>
    <script src="/public/js/study-info.js"></script>
  </body>
</html>
