<span class="group-list__text">진행 중인 스터디</span>
<!-- 내가 모집한 스터디 목록 -->
<!-- Load default data -->
<% leadgroups.forEach(data => { %>
<div class="group-list__item">
  <div class="group-tag">
    <div class="group-tag__cat-main"><%= data.main_category %></div>
    <div class="group-tag__cat-sub"><%= data.sub_category %></div>
    <div class="group-tag__loc"><%= data.location %></div>
    <div class="group-tag__gndr"><%= data.gender %></div>
  </div>
  <div class="group-list__info">
    <span class="group-list__num">
      <%= data.current_number + '/' + data.maximum_number %>
    </span>
    <span class="group-list__name"><%= data.name %></span>
  </div>
  <div class="group-list__mgr">
    <form class="group-edit__form" action="/mypage/group-edit" method="POST">
      <input
        class="group-list__hidden-input"
        name="study_group_id"
        type="hidden"
        value="<%= data.id %>"
      />
      <button class="group-list__del-btn" type="button">삭제</button>
      <button class="group-list__edit-btn" type="button">관리</button>
    </form>
  </div>
</div>
<% }) %>
