<ul>
  <% data.forEach(function(group) { %>
  <li class="search-list__item">
    <a href="/study/info/<%= group.id %>">
      <!-- <img class="search-list__img" src="<%= group.thumnail %>" /> -->
      <img class="search-list__img" src="/study.jpg" />
    </a>
    <table class="search-list__table">
      <tr>
        <th colspan="2" class="search-list__name">
          <a href="/study/info/<%= group.id %>"><%= group.name %></a>
        </th>
      </tr>
      <tr>
        <td class="search-list__loc"><%= group.location %></td>
        <td class="search-list__num">
          모집중 <%= group.num_member %>/<%= group.max_num_member %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="search-list__tag"><%= group.tag %></td>
      </tr>
    </table>
  </li>
  <% }); %>
</ul>
