<ul>
  <% if(searchlistGroups.length) { %> <% searchlistGroups.forEach(group => { %>
  <li class="search-list__item">
    <!-- 추후 mainGroup.thumnail로 변경 필요 -->
    <a href="/group/info/<%= group.id %>" class="search-list__link">
      <img class="search-list__img" src="/public/img/test-thumnail.png" />
    </a>
    <table class="search-list__table">
      <tr>
        <th class="search-list__name" colspan="2">
          <a href="/group/info/<%= group.id %>" class="search-list__link">
            <%= group.name %>
          </a>
        </th>
      </tr>
      <tr>
        <td class="search-list__loc">
          <a href="/group/info/<%= group.id %>" class="search-list__link">
            <%= group.location %>
          </a>
        </td>
        <td class="search-list__num">
          <a href="/group/info/<%= group.id %>" class="search-list__link">
            <%= group.current_number + '/' + group.maximum_number %>
          </a>
        </td>
      </tr>
      <tr>
        <td class="search-list__tag" colspan="2">
          <a href="/group/info/<%= group.id %>" class="search-list__link color">
            <%= `#${group.main_category} #${group.sub_category}
            #${group.gender}` %>
          </a>
        </td>
      </tr>
    </table>
    <input
      class="search-list__id-hidden"
      type="hidden"
      value="<%= group.id %>"
    />
  </li>
  <% }); %> <% } else { %>
  <span class="search-list__text">현재 모집 중인 스터디가 없습니다...</span>
  <% } %>
</ul>
